<p id="notice"><%= notice %></p>

<div class="well container">

<p>Please click on your name to log in:</p>

<p>
  <ul>
  <% @users.each do |user| %>
    <li><%= link_to user.first, :controller => "sessions", :action => "create", :id => user.id %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', users_path %>

</div>