.member-column
  .member-header.column-row
    -if current_user
      You
    - else 
      =member.first
  -if member.to_me_tasks.find_all_by_completed_at(!nil).count > 0 #If there are tasks in the past
    .section-header.column-row
      .title
        Past Tasks
      .action
        = image_tag "older-icon.png" 
        View Older
      .clear
    -for task in member.to_me_tasks
      -if task.completed_at != nil
        .column-row.task.pending
          .contents
            =task.title
          .arrow
            >
          .clear
  .section-header.column-row
    .title
      Current Tasks
    .action
      = image_tag "add-icon.png" 
      Add
    .clear
  -if member.to_me_tasks.find_all_by_completed_at(nil).count == 0
    .column-row.task.completed
      No tasks outstanding
  -for task in member.to_me_tasks
    -if task.completed_at == nil
      .column-row.task.pending
        .contents
          %title
            =task.title
          -if current_user
            .actions
              .btn.btn-success.btn-small
                Mark done
              .btn.btn-small
                Postpone
        = image_tag "horisontal-arrow.png", :class => "arrow"
        .clear
  .new-task-btn-container
    .new-task-btn.btn.btn-primary
      New Task