-if @group_members.exists?(@user)
  = render :partial => "member_column", :locals => { :member => @user, :current_user => true } #render the current user column first

-for member in @group_members
  -if member != @user 
    = render :partial => "member_column", :locals => { :member => member, :current_user => false }