<p id="notice"><%= notice %></p>

<p>Please click on a user to log in</p>

<p>
  <ul>
  <% @users.each do |user| %>
    <li><%= link_to user.first, user, method: :dologin %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', users_path %>
