// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.navbar {
  margin-bottom: 0px;

  .navbar-inner {
    border-radius: 0px;
    margin-bottom: 0px;
  }
}

$dark_grey: #444;
$mid_dark_grey: #666;
$mid_grey: #999;
$light_grey: #ccc;
$off_white: #fff;

$column_width: 260px;
$task_padding: 10px;

/*
body {
  background-color: #eff7fa;
}
*/

.clear {
  clear: both;
}
  
.member-column {
  width: $column_width;
  height: 1000px;
  float: left;
  border-right: 1px solid $light_grey;
  
  .column-row {
    border-top: 1px solid $off_white;
    border-bottom: 1px solid $light_grey;
  }
  
  .member-header {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border-top: 0px;
  }
  
  .section-header {
    @include gradient-vertical(#fafafa, #f3f3f3);
    padding: 6px;
    font-size: 8pt;
    font-weight: bold;
    color: $mid_dark_grey;
    text-transform:uppercase;
      
    .title {
      float: left;
    }
    
    .action {
      float: right;
      cursor: pointer;
      
      img {
        vertical-align: text-top;
        position: relative;
        top: 1px;
        opacity: 0.55;
        padding-right: 2px;
      }
    }
        
  }
  
  .task {
    padding: $task_padding;
    font-weight: bold;
    font-size: 10pt;
    color: $dark_grey;
    position: relative; //for vertical centering of arrow
    
    .contents {
      width: ($column_width - 2 * $task_padding) - 16; //minus arrow width
      float: left;
      
      title {
        display: block;
      }
      
      .details {
        opacity: .5; //TODO: cross compatible opacity
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0px;
        font-size: 8pt; 
        font-weight: normal;
        li {
          padding-left: 16px;
        }
        .date {
          background: url(image_path('calendar-icon.png')) no-repeat 0 2px;
        }
      }
      
      .actions {
        margin-top: 5px;
      }
    }
    
    .arrow {
      float: left;
      opacity: 0.4;
    }
  }
  
  .pending {
    @include gradient-vertical(#f1f4fd, #ebeffb);
  }
  
  .completed {
    @include gradient-vertical(#e8f8eb, #d7fcdb);
  }
  
  .late {
    @include gradient-vertical(#ffefef, #fdd6d0);
  }
  
  .new-task-btn-container { //spawn a centered button, a bit hacky...
    text-align: center;
      .new-task-btn {
        width: $column_width - 30; //some amount smaller
        margin: 5px auto;
      }
  }

}