// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-check-list {
	list-style: none;
	padding: 0;
	margin: 0;

	.check-box-label {
		display: inline
	}
}

.actions {
	list-style: none;
	padding: 0;
	margin: 0;

	li.button-with-margin {
		margin-right: 5px;
		float: left;
	}
}